In [35]:
import pandas as pd
counties = pd.read_html('https://www.newyork-demographics.com/counties_by_population')
county_data=counties[0]
county_data["County"]=[county.replace(" County","").strip() for county in county_data["County"]]
county_data["County"]
county_data = county_data[county_data.County.str.contains('United States Census') == False]
county_data["County"]
county_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        62 non-null     object
 1   County      62 non-null     object
 2   Population  62 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

In [36]:
import pandas as pd
data=pd.read_csv("unemp.csv")
data.head()

,Year,Month,Region,County,Beneficiaries,Benefit Amounts (Dollars)
0,2020,6,Capital,Albany,"17,500","24,070,000"
1,2020,6,Western New York,Allegany,"2,200","2,680,000"
2,2020,6,New York City,Bronx,"145,400","249,000,000"
3,2020,6,Southern Tier,Broome,"11,900","13,890,000"
4,2020,6,Western New York,Cattaraugus,"5,500","6,680,000"

In [37]:
county_clean=pd.merge(county_data, data, how='inner', on='County', left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [38]:
county_clean.info()
county_clean.iloc[:,6]= [int(amount.replace(",","").strip()) for amount in
                                            county_clean.iloc[:,6]]
county_clean.iloc[:,7]= [int(amount.replace(",","").strip()) for amount in
                                            county_clean.iloc[:,7]]
county_clean["Average Benefits per Beneficiary"]=county_clean.iloc[:,7]/county_clean.iloc[:,6] #need to convert to int
county_clean.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14508 entries, 0 to 14507
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         14508 non-null  object
 1   County                       14508 non-null  object
 2   Population                   14508 non-null  object
 3   Year                         14508 non-null  int64
 4   Month                        14508 non-null  int64
 5   Region                       14508 non-null  object
 6   Beneficiaries                14508 non-null  object
 7    Benefit Amounts (Dollars)   14508 non-null  object
dtypes: int64(2), object(6)
memory usage: 1020.1+ KB

,Rank,County,Population,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary
0,14,Albany,305506,2020,6,Capital,17500,24070000,1375.428571
1,14,Albany,305506,2020,5,Capital,16900,20690000,1224.260355
2,14,Albany,305506,2020,4,Capital,13300,15920000,1196.992481
3,14,Albany,305506,2020,3,Capital,4700,4020000,855.319149
4,14,Albany,305506,2020,2,Capital,2100,2350000,1119.047619

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14976 entries, 0 to 14975
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         14976 non-null  int64
 1   Month                        14976 non-null  int64
 2   Region                       14976 non-null  object
 3   County                       14976 non-null  object
 4   Beneficiaries                14976 non-null  object
 5    Benefit Amounts (Dollars)   14976 non-null  object
dtypes: int64(2), object(4)
memory usage: 702.1+ KB

In [40]:
import pandas as pd
inf_data=pd.read_html('https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/')[0]
inf_data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Annual,Percent Change,Percent Change
1,Year,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec,Avg,Dec-Dec,Avg-Avg
2,1913,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0,9.9,–,–
3,1914,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1,10.0,1.0,1.0
4,1915,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3,10.1,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2016,236.916,237.111,238.132,239.261,240.236,241.038,240.647,240.853,241.428,241.729,241.353,241.432,240.007,2.1,1.3
106,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524,245.120,2.1,2.1
107,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233,251.107,1.9,2.4
108,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974,255.657,2.3,1.8
109,2020,257.971,258.678,258.115,256.389,256.394,257.797,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
inf_data.columns=inf_data.iloc[1]
#data=data.set_index(0)
inf_data=inf_data.iloc[2:,0:13]
inf_data

1,Year,Jan,Feb,Mar,Apr,May,June,July,Aug,Sep,Oct,Nov,Dec
2,1913,9.8,9.8,9.8,9.8,9.7,9.8,9.9,9.9,10.0,10.0,10.1,10.0
3,1914,10.0,9.9,9.9,9.8,9.9,9.9,10.0,10.2,10.2,10.1,10.2,10.1
4,1915,10.1,10.0,9.9,10.0,10.1,10.1,10.1,10.1,10.1,10.2,10.3,10.3
5,1916,10.4,10.4,10.5,10.6,10.7,10.8,10.8,10.9,11.1,11.3,11.5,11.6
6,1917,11.7,12.0,12.0,12.6,12.8,13.0,12.8,13.0,13.3,13.5,13.5,13.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,2016,236.916,237.111,238.132,239.261,240.236,241.038,240.647,240.853,241.428,241.729,241.353,241.432
106,2017,242.839,243.603,243.801,244.524,244.733,244.955,244.786,245.519,246.819,246.663,246.669,246.524
107,2018,247.867,248.991,249.554,250.546,251.588,251.989,252.006,252.146,252.439,252.885,252.038,251.233
108,2019,251.712,252.776,254.202,255.548,256.092,256.143,256.571,256.558,256.759,257.346,257.208,256.974
109,2020,257.971,258.678,258.115,256.389,256.394,257.797,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
inf_data=inf_data.melt(id_vars=['Year'], value_vars=inf_data.columns[1:])
inf_data

      Year    1    value
0     1913  Jan      9.8
1     1914  Jan     10.0
2     1915  Jan     10.1
3     1916  Jan     10.4
4     1917  Jan     11.7
...    ...  ...      ...
1291  2016  Dec  241.432
1292  2017  Dec  246.524
1293  2018  Dec  251.233
1294  2019  Dec  256.974
1295  2020  Dec      NaN

[1296 rows x 3 columns]

In [43]:
inf_data["Year"]=[int(year)for year in inf_data["Year"]]

In [44]:
inf_data=inf_data[inf_data["Year"]>=2000]

In [45]:
inf_data.head()

    Year    1  value
87  2000  Jan  168.8
88  2001  Jan  175.1
89  2002  Jan  177.1
90  2003  Jan  181.7
91  2004  Jan  185.2

In [46]:
county_clean=pd.merge(county_clean, inf_data, how='inner', on='County', left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

KeyError: 'County'

In [47]:
inf_data=inf_data.sort_values("Year")
inf_data

      Year     1    value
87    2000   Jan    168.8
519   2000   May    171.5
735   2000  July    172.8
843   2000   Aug    172.8
411   2000   Apr    171.3
...    ...   ...      ...
323   2020   Mar  258.115
215   2020   Feb  258.678
107   2020   Jan  257.971
1187  2020   Nov      NaN
1295  2020   Dec      NaN

[252 rows x 3 columns]

In [48]:
inf_data = inf_data.replace(["Jan","Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"],[1,2,3,4,5,6,7,8,9,10,11,12])

In [49]:
inf_data = inf_data.rename(columns={1: "Month"})

In [50]:
county_clean=pd.merge(county_clean, inf_data, how='left', on=['Year','Month'], left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [51]:
county_clean.head()

,Rank,County,Population,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary,value
0,14,Albany,305506,2001,1,Capital,2500,2390000,956.000000,175.1
1,52,Allegany,46091,2001,1,Western New York,800,830000,1037.500000,175.1
2,5,Bronx,1418207,2001,1,New York City,13800,12290000,890.579710,175.1
3,19,Broome,190488,2001,1,Southern Tier,2500,2200000,880.000000,175.1
4,35,Cattaraugus,76117,2001,1,Western New York,1700,1620000,952.941176,175.1

In [52]:
county_clean = county_clean.rename(columns={'value': 'Inflation Rate'})
county_clean.head()

,Rank,County,Population,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary,Inflation Rate
0,14,Albany,305506,2001,1,Capital,2500,2390000,956.000000,175.1
1,52,Allegany,46091,2001,1,Western New York,800,830000,1037.500000,175.1
2,5,Bronx,1418207,2001,1,New York City,13800,12290000,890.579710,175.1
3,19,Broome,190488,2001,1,Southern Tier,2500,2200000,880.000000,175.1
4,35,Cattaraugus,76117,2001,1,Western New York,1700,1620000,952.941176,175.1

In [53]:
county_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14508 entries, 0 to 14507
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Rank                              14508 non-null  object
 1   County                            14508 non-null  object
 2   Population                        14508 non-null  object
 3   Year                              14508 non-null  int64
 4   Month                             14508 non-null  int64
 5   Region                            14508 non-null  object
 6   Beneficiaries                     14508 non-null  int64
 7    Benefit Amounts (Dollars)        14508 non-null  int64
 8   Average Benefits per Beneficiary  14505 non-null  float64
 9   Inflation Rate                    14508 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 1.2+ MB

In [54]:
county_clean["Inflation Rate"]=[float(data) for data in county_clean["Inflation Rate"]]
county_clean.head()

,Rank,County,Population,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary,Inflation Rate
0,14,Albany,305506,2001,1,Capital,2500,2390000,956.000000,175.1
1,52,Allegany,46091,2001,1,Western New York,800,830000,1037.500000,175.1
2,5,Bronx,1418207,2001,1,New York City,13800,12290000,890.579710,175.1
3,19,Broome,190488,2001,1,Southern Tier,2500,2200000,880.000000,175.1
4,35,Cattaraugus,76117,2001,1,Western New York,1700,1620000,952.941176,175.1

In [55]:
county_clean[county_clean["Year"]== 2020]

,Rank,County,Population,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary,Inflation Rate
14136,14,Albany,305506,2020,1,Capital,2300,2460000,1069.565217,257.971
14137,52,Allegany,46091,2020,1,Western New York,600,680000,1133.333333,257.971
14138,5,Bronx,1418207,2020,1,New York City,15100,16030000,1061.589404,257.971
14139,19,Broome,190488,2020,1,Southern Tier,2200,2460000,1118.181818,257.971
14140,35,Cattaraugus,76117,2020,1,Western New York,1300,1450000,1115.384615,257.971
...,...,...,...,...,...,...,...,...,...,...
14503,41,Washington,61204,2020,6,Capital,3300,4100000,1242.424242,257.797
14504,31,Wayne,89918,2020,6,Finger Lakes,5400,6880000,1274.074074,257.797
14505,7,Westchester,967506,2020,6,Hudson Valley,61900,103080000,1665.266559,257.797
14506,55,Wyoming,39859,2020,6,Finger Lakes,2200,2590000,1177.272727,257.797
14507,60,Yates,24913,2020,6,Finger Lakes,1200,1350000,1125.000000,257.797

In [56]:
county_clean["Adjusted Benefits Per Beneficiary"] = (county_clean["Average Benefits per Beneficiary"]/county_clean["Inflation Rate"])*257.797
county_clean.head()

,Rank,County,Population,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary,Inflation Rate,Adjusted Benefits Per Beneficiary
0,14,Albany,305506,2001,1,Capital,2500,2390000,956.000000,175.1,1407.503895
1,52,Allegany,46091,2001,1,Western New York,800,830000,1037.500000,175.1,1527.495074
2,5,Bronx,1418207,2001,1,New York City,13800,12290000,890.579710,175.1,1311.186622
3,19,Broome,190488,2001,1,Southern Tier,2500,2200000,880.000000,175.1,1295.610280
4,35,Cattaraugus,76117,2001,1,Western New York,1700,1620000,952.941176,175.1,1403.000437

In [57]:
county_clean["Adjusted Benefits Amounts"] = (county_clean.iloc[:,7]/county_clean["Inflation Rate"])*257.797
county_clean.head()

,Rank,County,Population,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary,Inflation Rate,Adjusted Benefits Per Beneficiary,Adjusted Benefits Amounts
0,14,Albany,305506,2001,1,Capital,2500,2390000,956.000000,175.1,1407.503895,3.518760e+06
1,52,Allegany,46091,2001,1,Western New York,800,830000,1037.500000,175.1,1527.495074,1.221996e+06
2,5,Bronx,1418207,2001,1,New York City,13800,12290000,890.579710,175.1,1311.186622,1.809438e+07
3,19,Broome,190488,2001,1,Southern Tier,2500,2200000,880.000000,175.1,1295.610280,3.239026e+06
4,35,Cattaraugus,76117,2001,1,Western New York,1700,1620000,952.941176,175.1,1403.000437,2.385101e+06

In [58]:
population_data=pd.read_csv("Annual_Population_Estimates_for_New_York_State_and_Counties__Beginning_1970.csv")
population_data.head()

,FIPS Code,Geography,Year,Program Type,Population
0,36000,New York State,2019,Postcensal Population Estimate,19453561
1,36001,Albany County,2019,Postcensal Population Estimate,305506
2,36003,Allegany County,2019,Postcensal Population Estimate,46091
3,36005,Bronx County,2019,Postcensal Population Estimate,1418207
4,36007,Broome County,2019,Postcensal Population Estimate,190488

In [59]:
population_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3465 entries, 0 to 3464
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FIPS Code     3465 non-null   int64
 1   Geography     3465 non-null   object
 2   Year          3465 non-null   int64
 3   Program Type  3465 non-null   object
 4   Population    3465 non-null   int64
dtypes: int64(3), object(2)
memory usage: 135.5+ KB

In [60]:
population_data=population_data[population_data["Year"]>=2001]
population_data.head()

,FIPS Code,Geography,Year,Program Type,Population
0,36000,New York State,2019,Postcensal Population Estimate,19453561
1,36001,Albany County,2019,Postcensal Population Estimate,305506
2,36003,Allegany County,2019,Postcensal Population Estimate,46091
3,36005,Bronx County,2019,Postcensal Population Estimate,1418207
4,36007,Broome County,2019,Postcensal Population Estimate,190488

In [61]:
population_data["Geography"]=[county.replace(" County","").strip() for county in population_data["Geography"]]
population_data.head()

   FIPS Code       Geography  Year                    Program Type  Population
0      36000  New York State  2019  Postcensal Population Estimate    19453561
1      36001          Albany  2019  Postcensal Population Estimate      305506
2      36003        Allegany  2019  Postcensal Population Estimate       46091
3      36005           Bronx  2019  Postcensal Population Estimate     1418207
4      36007          Broome  2019  Postcensal Population Estimate      190488

In [62]:
population_data = population_data.rename(columns={"Geography": "County"})
county_clean=pd.merge(county_clean, population_data, how='left', on=['Year','County'], left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [63]:
county_clean

,Rank,County,Population_x,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary,Inflation Rate,Adjusted Benefits Per Beneficiary,Adjusted Benefits Amounts,FIPS Code,Program Type,Population_y
0,14,Albany,305506,2001,1,Capital,2500,2390000,956.000000,175.100,1407.503895,3.518760e+06,36001.0,Intercensal Population Estimate,296232.0
1,14,Albany,305506,2001,2,Capital,2200,2040000,927.272727,175.800,1359.773193,2.991501e+06,36001.0,Intercensal Population Estimate,296232.0
2,14,Albany,305506,2001,3,Capital,2300,2150000,934.782609,176.200,1367.673962,3.145650e+06,36001.0,Intercensal Population Estimate,296232.0
3,14,Albany,305506,2001,4,Capital,2300,2110000,917.391304,176.900,1336.917615,3.074911e+06,36001.0,Intercensal Population Estimate,296232.0
4,14,Albany,305506,2001,5,Capital,1900,1780000,936.842105,177.700,1359.116962,2.582322e+06,36001.0,Intercensal Population Estimate,296232.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15247,60,Yates,24913,2020,2,Finger Lakes,300,320000,1066.666667,258.678,1063.033836,3.189102e+05,NaN,NaN,NaN
15248,60,Yates,24913,2020,3,Finger Lakes,600,480000,800.000000,258.115,799.014393,4.794086e+05,NaN,NaN,NaN
15249,60,Yates,24913,2020,4,Finger Lakes,1200,1490000,1241.666667,256.389,1248.485472,1.498183e+06,NaN,NaN,NaN
15250,60,Yates,24913,2020,5,Finger Lakes,1300,1430000,1100.000000,256.394,1106.019252,1.437825e+06,NaN,NaN,NaN
15251,60,Yates,24913,2020,6,Finger Lakes,1200,1350000,1125.000000,257.797,1125.000000,1.350000e+06,NaN,NaN,NaN

,Rank,County,Population_x,Year,Month,Region,Beneficiaries,Benefit Amounts (Dollars),Average Benefits per Beneficiary,Inflation Rate,Adjusted Benefits Per Beneficiary,Adjusted Benefits Amounts,FIPS Code,Program Type,Population_y
3,14,Albany,305506,2001,4,Capital,2300,2110000,917.391304,176.900,1336.917615,3.074911e+06,36001.0,Intercensal Population Estimate,296232.0
15,52,Allegany,46091,2001,4,Western New York,800,680000,850.000000,176.900,1238.708027,9.909664e+05,36003.0,Intercensal Population Estimate,50079.0
27,5,Bronx,1418207,2001,4,New York City,13900,11680000,840.287770,176.900,1224.554359,1.702131e+07,36005.0,Intercensal Population Estimate,1346555.0
39,19,Broome,190488,2001,4,Southern Tier,2400,1920000,800.000000,176.900,1165.842849,2.798023e+06,36007.0,Intercensal Population Estimate,200868.0
51,35,Cattaraugus,76117,2001,4,Western New York,1800,1290000,716.666667,176.900,1044.400886,1.879922e+06,36009.0,Intercensal Population Estimate,83346.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15225,41,Washington,61204,2020,4,Capital,3200,3740000,1168.750000,256.389,1175.168372,3.760539e+06,NaN,NaN,NaN
15231,31,Wayne,89918,2020,4,Finger Lakes,5200,6600000,1269.230769,256.389,1276.200947,6.636245e+06,NaN,NaN,NaN
15237,7,Westchester,967506,2020,4,Hudson Valley,47400,64610000,1363.080169,256.389,1370.565735,6.496482e+07,NaN,NaN,NaN
15243,55,Wyoming,39859,2020,4,Finger Lakes,2500,3020000,1208.000000,256.389,1214.633920,3.036585e+06,NaN,NaN,NaN
15249,60,Yates,24913,2020,4,Finger Lakes,1200,1490000,1241.666667,256.389,1248.485472,1.498183e+06,NaN,NaN,NaN

In [ ]:
def substitute(x):
    x["Population"]